@model Dictionary<int, (string, int, bool)>
@{
    ViewData["Title"] = "Заявка";
}

@{
    bool completed = true;
}

@section Links {
    <div>

                <a style="margin-right: 20px; float:right;" asp-area="" asp-controller="Request" asp-action="Request">Список заявок</a>

                <a style="margin-right: 20px; float:right;" asp-area="" asp-controller="WareHouse" asp-action="ListWareHouses">Холодильники</a>

    </div>
}

<div class="text-left">
    <h4>Заявка № @ViewBag.RequestId</h4>
</div>

<hr />

<div class="text-left">
    <h6>Поставщик - @Program.Supplier.SupplierFIO</h6>
</div>

<hr />

<table cellspacing="2" border="1" cellpadding="5">
    <thead>
        <tr>
            <th>
                Канцелярия
            </th>
            <th>
                Количество
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Value.Item1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value.Item2)
                </td>
                <td>
                    @if (!item.Value.Item3)
                    {
                        completed = false;
                        <a asp-action="ListSchoolSupplieAvailable"
                           asp-route-id="@item.Key" asp-route-name="@item.Value.Item1"
                           asp-route-count="@item.Value.Item2" asp-route-requestId="@ViewBag.RequestId">
                            Зарезервировать
                        </a>
                    }
                    else
                    {
                        <button type="button" disabled>Зарезервировано</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@if (completed)
{
    <hr />
    <div>
        <a asp-action="CompleteRequest" asp-route-id="@ViewBag.RequestId">Выполнить</a>
    </div>
    <hr />
    <p>
        <a href="/Request/SendWordReport/@ViewBag.RequestId">Отправить список продуктов в формате .docx</a>
    </p>
    <p>
        <a href="/Request/SendExcelReport/@ViewBag.RequestId">Отправить список продуктов в формате .xlsx</a>
    </p>
}
