@model IEnumerable<AbstractSchoolBusinessLogic.ViewModels.RequestViewModel>

@{
    ViewData["Title"] = "Заявки";
}

@section Links {
    <div>
                <a style="margin-right: 20px; float:right;" asp-area="" asp-controller="WareHouse" asp-action="ListWareHouses">Склад</a>
                <a style="margin-right: 20px; float:right;" asp-area="" asp-controller="BackUp" asp-action="BackUp">Бэкап</a>
                <a style="margin-right: 20px; float:right;" asp-area="" asp-action="Report">Отчет по канцеляриим</a>
                <a style="margin-right: 20px; float:right;" asp-area="" asp-controller="Supplier" asp-action="Logout">Выход</a>
    </div>
}

<div class="text-left">
    <h4> Список заявок</h4>
</div>

<hr />
<div class="text-left">
    <h6>Поставщик - @Program.Supplier.SupplierFIO</h6>
</div>
<hr />

<table cellspacing="2" border="1" cellpadding="5">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sum)
                </td>
                <td>
                    @if (item.Status == AbstractSchoolBusinessLogic.Enums.RequestStatus.Выполняется)
                    {
                        <a class="btn btn-primary btn-sm btn-block" asp-action="RequestView" asp-route-id="@item.Id">Просмотр заявки</a>
                    }
                    @if (item.Status == AbstractSchoolBusinessLogic.Enums.RequestStatus.Создана)
                    {
                        <a class="btn btn-primary btn-sm btn-block" asp-action="AcceptRequest" asp-route-id="@item.Id">Принять в обработку</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
